<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <title>Acadeventos</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a href="index.html">
                        <img class="brand" src="./images/logo.png"/>
                    </a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Entrar</a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px por 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="evento.html">
                                <h2>Curso de Ingles IFSP</h2>
                            </a>
                        </div>
                        <div class="resume">
                            Resumo do que tem no curso
                        </div>
                        <div class="date">
                            A partir do dia 10/08/2021
                        </div>
                        <div class="institute">
                            IFSP - Itapetininga
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px por 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="evento.html">
                                <h2>Curso de Ingles IFSP</h2>
                            </a>
                        </div>
                        <div class="resume">
                            Resumo do que tem no curso
                        </div>
                        <div class="date">
                            A partir do dia 10/08/2021
                        </div>
                        <div class="institute">
                            IFSP - Itapetininga
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px por 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="evento.html">
                                <h2>Curso de Ingles IFSP</h2>
                            </a>
                        </div>
                        <div class="resume">
                            Resumo do que tem no curso
                        </div>
                        <div class="date">
                            A partir do dia 10/08/2021
                        </div>
                        <div class="institute">
                            IFSP - Itapetininga
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px por 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="evento.html">
                                <h2>Curso de Ingles IFSP</h2>
                            </a>
                        </div>
                        <div class="resume">
                            Resumo do que tem no curso
                        </div>
                        <div class="date">
                            A partir do dia 10/08/2021
                        </div>
                        <div class="institute">
                            IFSP - Itapetininga
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px por 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="evento.html">
                                <h2>Curso de Ingles IFSP</h2>
                            </a>
                        </div>
                        <div class="resume">
                            Resumo do que tem no curso
                        </div>
                        <div class="date">
                            A partir do dia 10/08/2021
                        </div>
                        <div class="institute">
                            IFSP - Itapetininga
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px por 830px-->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                            <a href="evento.html">
                                <h2>Curso de Ingles IFSP</h2>
                            </a>
                        </div>
                        <div class="resume">
                            Resumo do que tem no curso
                        </div>
                        <div class="date">
                            A partir do dia 10/08/2021
                        </div>
                        <div class="institute">
                            IFSP - Itapetininga
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">Desenvolvido por Geraldo, suporte por Devsbey.com.br</footer>
        </div>
    </body>
</html>